<!--CONTACT SECTION-->




         <!--FOOTER SECTION -->
    <div id="footer">
        2015 www.microbites.co.uk | All Right Reserved
         <div class="add">
 <i>Address: </i> London United Kingdom
 email: info@jobxpress.com
   </div>
    </div>
    <!-- END FOOTER SECTION -->
