<!--CONTACT SECTION-->




         <!--FOOTER SECTION -->
    <div id="footer">
        <p class="text-muted">This Website is created by Richard Jatto MACP <a href="http://www.microbites.co.uk">Microbites Solutions</a></p>
        | All Right Reserved

    </div>
    <!-- END FOOTER SECTION -->
